/* html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    
} */
.footer {
    width: 100%;
    margin-bottom: 0;
    margin-top: 10%;
    height: 15%;
    background-color: rgb(0, 0, 26); 
    color: white;
    position: relative;
}

.social-buttons {
    margin: 2% auto 4% auto;
    position: absolute;
}
.social-buttons a {
    color: white;
}
.fa {
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.footer-copyright {
    background-color: rgb(0, 0, 0);  
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}



