.introduction {
    margin-top: 10%;
}

.introduction img {
    margin-top: 3%;
    width: 100%;
}
.introduction p {
    margin-top: 5%;
    text-align: justify;
}
.introduction ul {
    list-style-type: square;
    margin-top: 5%;
}