body {
    margin: 0;
}
.login {
    width: 100%;
    height: 2%;
    background-color: grey;
}
.login li {
    display: inline;
}
h2 {
    text-align: center;
}
.navbar ul {
    margin: 0; /*to remove browser default settings*/
    padding: 0;
    list-style-type: none;
    text-align: center;
} 
.navbar {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}
.navbar li {
    display: inline;
}
.navbar li a {
    display: inline-block; 
    width: 5%;
}